:root {
  --primary-color: oklch(27.9% 0.041 260.031);
}
header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 8em 1em;
}

header h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

header p {
  font-size: 20px;
}

main {
  border-radius: 12px;
  border: 1px solid var(--border-color);
  background: #fff;
  color: #1f2937;
  max-width: 600px;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

input,
select,
textarea {
  width: 100%;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 12px;
  font-size: 0.875rem;
}

textarea {
  margin-bottom: 2rem;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 0;
  cursor: pointer;
}
