:root {
  --primary-color: oklch(54.6% 0.245 262.881);
}
header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 8em 1em;
}

header h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

header p {
  font-size: 20px;
}

main > div {
  display: grid;
  gap: 2rem;
  margin-bottom: 4rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  width: 1200px;
  margin: 0 auto;
}

.card {
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
}

.card li {
  list-style: none;
}

.card > div {
  display: grid;
  justify-items: center;
  gap: 0.6rem;
  padding: 2rem;
  text-align: center;
}

.card p {
  font-size: 0.875rem;
}

.card ul {
  font-size: 0.875rem;
  display: grid;
  gap: 0.5rem;
  padding: 1.5rem;
  padding-top: 0;
  text-align: center;
}

.card h3 {
  font-weight: 600;
  letter-spacing: 0.01em;
  font-size: 1.25rem;
}

main {
  padding: 64px 16px;
}

main h2 {
  margin-bottom: 32px;
}

.formContainer {
  border-radius: 12px;
  border: 1px solid var(--border-color);
  background: #fff;
  color: #1f2937;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  margin-bottom: 4rem;
}

form {
  display: grid;
}

label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

input,
select,
textarea {
  width: 100%;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 12px;
  font-size: 0.875rem;
}

textarea {
  margin-bottom: 2rem;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 0;
  cursor: pointer;
}

p {
  font-size: 1rem;
}

.formContainer > div {
  display: grid;
  text-align: center;
}
