:root {
  --primary-color: oklch(54.6% 0.245 262.881);
}
header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 64px 16px;
}

header h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

header p {
  font-size: 20px;
}
