header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 64px 16px;
}

header h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

header p {
  font-size: 20px;
}

.goal {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-bottom: 64px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 64px 16px 0;
  gap: 32px;
}

.goal h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 16px;
}

.goal strong {
  color: var(--primary-color);
}

.goal p {
  font-size: 18px;
  line-height: 1.4;
}

.targets {
  max-width: 1000px;
  margin: 0 auto;
  padding: 64px 16px 0;
  text-align: center;
}

.targets h1 {
  font-size: 30px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  margin-top: 32px;
}

.card {
  display: grid;

  align-items: center;
  justify-items: center;
  border-width: 1px;
  border-style: solid;
  padding: 24px;
  gap: 22px;
  border-radius: 8px;
}

.card span {
  font-size: 18px;
  font-weight: 600;
}

.card p {
  font-size: 14px;
  text-align: center;
}

.why {
  max-width: 1000px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 32px;
  margin: 0 auto;
  border-radius: 8px;
  margin: 64px auto;
}

.why > div {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}

.why h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 24px;
}

.why > div > div {
  display: grid;
  gap: 8px;
}

.why span {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 500;
}
